@charset "UTF-8";
/* width */
.max1920px {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 3%;
}

.min1920px {
    min-width: 100vw;
}

/* header */
header {
    height: 100px;
}

.header-container {
	position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container-button{
	width: 540px;
	display: flex;
    justify-content: space-between;
}

.emp_search{
	width: 320px;
	height: 40px;
	border: 1px solid #a3a3a3;
	border-radius: 15px;
}

.header_icon_container>img{
	margin:0px 10px;
}

section {
	position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.emp_card,
.side-nav{
	margin: 10px;
}



.section-shadow{
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.side-nav-container{
	width: 340px;
	min-height: 900px;
}

.emp_card{
	height: 240px;
	
}

.side-nav{
	height: 670px;
}

.main-section{
	width: 1490px;
	min-height: 900px;
}