@charset "EUC-KR";
	#mainFlex{
		display: flex;
	}

	#section1{
		width : 400px;
		height: 300px;
		border: 1px solid #D9D9D9;
	
	}
	
	.mainMarginRight{
		margin-right: 60px;
	}
	

	
	#approveFont{
		background-color:#ddd;
		display: flex;
		justify-content: space-between;
		font-size:20px;
		font-weight: bold;
		line-height: 50px;
		padding-right: 15px;
	}
	
	.marginBottom{
		margin-bottom: 50px;	
	}
/* 미결재 */

	#appHr{
		background-color:#ddd;
		height:1px;
   		border:0;
	}
	
	#showMoreApp{
		margin-left: 200px;
		font-size: 15px;
	}
	#showMoreApp:hover{
		color:var(--main-color-dk);
		cursor: pointer;
	}
	
	#showMoreBoard{
		font-size: 15px;
	}
	#showMoreBoard:hover{
		color:var(--main-color-dk);
		cursor: pointer;
	}
	
	#showMoreNotice{
		margin-left: 465px;
		font-size: 15px;
	}
	#showMoreNotice:hover{
		color:var(--main-color-dk);
		cursor: pointer;
	}
	
	#approveTr>td{
		border-bottom: 1px solid #ddd;
		text-align: center;
		font-size: 15px;
	}
	
	#approveTr:hover{
		color:var(--main-color-dk);
	}
	

	
	#mainTh>th{
		padding-top:10px;
		padding-bottom:10px;
		border-bottom: 1px solid #ddd;
		width:400px;
	}
	
	#noApp{
		text-align: center;
		width:200px;
		line-height: 170px;
	}
	
	#section2{
		margin-left:50px;
		width : 650px;
		height: 300px;
		border: 1px solid #D9D9D9;
	}
	
	.none{
		background-color: white;
	}
	.none:hover{
		background-color: white;
		color:var(--main-color-dk);
	}
	

	
/* 공지사항 */	
	
	#noticeTr>td{
		/*border-bottom: 1px solid #ddd;*/
		font-size: 15px;
		text-align: center;
	}
	
	#noticeFont{
		text-align: center;
		line-height: 180px;
	}
	
	
/* 메인화면 투두리스트 */	
	#toDo{
		font-size:20px;
		font-weight: bold;
		margin-top:10px;
		margin-bottom:10px;
		text-align: center;
	}
	
	#toDoText{
		margin-left: 20px;
		width: 300px;
		border-radius: 0;
		border : 1px solid #D9D9D9;
	}
	
	#toDoButton{
		margin-left: 3px;
		width: 50px;
	}
	#toDoButton:hover{
		color:var(--main-color-dk);
		cursor: pointer;
	}
		
	
	.toDoFlex{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 10px;
	}
	
	hr{
		margin-bottom: 10px;
		background:#D9D9D9;
   		height:1px;
   		border:0;
	}
	
	#toDoCheck{
		width: 20px;	
	}
		
	.deleteImg{
		width: 20px;
		height: 20px;	
	}
	
	#toDiv{
		margin-top: 20px;
	}
/* ----------------------------- */

/* 메인화면 신청한 강의실 */
	#bookFont{
		font-size:20px;
		font-weight: bold;
		margin-top:10px;
		margin-bottom:10px;
	}
	
/* ----------------------------- */

/* 부서별 게시글 */
#boardTr>td{
		text-align: center;
		font-size: 15px;
}

#tButton{
	width: 30px;
}