@charset "EUC-KR";
#form-choice-name{ /* 결재양식선택 문구  */
		font-weight: bold;
		margin:10px;
		font-size: 25px;
	}

	#form-flex{ 
		display:flex;
	}
	
	#form-column{
		display:flex;
		flex-direction: column;
	}
	
	#form-column>a{
		font-size: 20px;
		font-weight: bold;
		margin: 20px;
	}

	#form-column>a:hover{
		color: #BDDFFF;
	}	

	#form-choice{  /* 결재서 양식 선택하는 곳 */
		border: 1px solid #D9D9D9;
		width: 200px;
		height:200px;
		margin-right: 20px;
		margin-top:20px;
	}
	
	#form-choice-result{ /* 결재서 양식 이미지 나오는 곳 */
		border: 1px solid #D9D9D9;
		width: 250px;
		height:400px;
		margin-top:20px;
	}
	
	
	#div-approve>button{ /* 전자결재 버튼 밑에 세부 항목들 꾸미기 */
		display: none;
		margin-left : 50px;
		background: white;
	}
	
	#div-approve>button:hover{ /* 전자결재 버튼 밑에 세부 항목들 호버 효과 */
		background: #BDDFFF;
	}
	
/* 여기부터 결재서양식 선택하는 모달창 style */	
	.approve {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

    .approve .bg-approve {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.6);
        }

    .modalBox-approve {
          position: absolute;
          background-color: #fff;
          width: 500px;
          height: 500px;
          padding: 15px;
        }

    .hidden-approve {
          display: none;
        } 
        
     #approval-close-button{  
		margin-top:10px;
		margin-left:285px;
	}   