@charset "EUC-KR";

/* 기안서 css */
  /* question : 직접 작성하는곳이 아닌, 물어보는 div 부분 -> 회색부분으로 구분 (공통으로 사용) */
  .question{
    background-color: #E9E9E9;
    border: 1px solid #D9D9D9;
    font-weight: 900;
  }

  /* answer : 직접 사용자가 작성하는 곳 -> 배경 없음 (선은 위와 동일) (공통으로 사용) */
  .answer{
    border: 1px solid #D9D9D9;
   	color: #A3A3A3;
  }

  /* 기안서 종류가 나오는 곳 */
  #kind{
    width: 180px;
    height: 100px;
    border-right: none;
    border-bottom: none;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    font-weight: 900;
    border-left: 1px solid #D9D9D9;
    border-top: 1px solid #D9D9D9;
    
  }

  /* 결재선 선택시 추가되는 곳 */
  #app-line{
    width: 580px;
    height: 100px;
    border-bottom: none;
    display: flex;
    justify-content: end;
  }

  /* 하나의 가로 행을 묶음 */
  #one-width{
    display: flex; 
    margin-left: 120px;
  }


  /* ---------- 제목부분 ----------- */
  #title	{
    width: 126px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-right: none;
    border-bottom: none;
  }

  #title-answer{
    width:  634px;
    height: 50px;
    border-bottom: none;
  }
  
  #title-input{
    width:  580px;
    border: 1px solid #D9D9D9;
    margin-top: 8px;
    margin-left: 20px;
  }
  /* --------------------------------------- */

  /* ---------- 부서부분 ----------- */
  #department{
    width: 126px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-right: none;
  }

  #department-answer{
    width:  126px;
    height: 50px;
    border-right: none;
    text-align: center;
    line-height: 50px;
  }

  #writer{
    height: 50px;
    width:  126px;
    border-right: none;
    text-align: center;
    line-height: 50px;
  }

  #writer-answer{
    height: 50px;
    width:  126px;
    border-right: none;
    text-align: center;
    line-height: 50px;
  }

  #position{
    height: 50px;
    width:  126px;
    border-right: none;
    text-align: center;
    line-height: 50px;
  }

  #position-answer{
    height: 50px;
    width:  126px;
    text-align: center;
    line-height: 50px;  
  }
  /* --------------------------------------- */

  /* ---------- 시행일자, 작성일 부분 ----------- */
  #effectDate{
    height: 50px;
    width:  126px;
    border-right: none;
    border-top: none;
    text-align: center;
    line-height: 50px;
    
  }

  #effectDate-answer{
    border-top: none;
    border-right: none;
    width:  252px;
  }

  #effectDate-input{
    margin-top: 8px;
    margin-left: 40px;
  }

  #writeDate{
    border-top: none;
    border-right: none;
    width:  126px;
    text-align: center;
    line-height: 50px;
  }

  #writeDate-answer{
    border-top: none;
    width:  254px;
  }
  /* --------------------------------------- */

  /* ---------- 내용부분 ----------- */
  #content{
    height: 400px;
    width:  126px;
    border-right: none;
    border-top: none;
    text-align: center;
    line-height: 360px;
  }

  #content-answer{
    height: 400px;
    width:  634px;
    border-top: none;
  }
  /* --------------------------------------- */

  /* ---------- 첨부파일부분 ----------- */
  #appAttachment{
    height: 55px;
    width:  126px;
    border-right: none;
    border-top: none;
    text-align: center;
    line-height: 50px;
  }
  
  #appAttachment-answer{
    border-top: none;
    width:  634px;
    text-align: center;
    line-height: 50px;
    	  margin-bottom: 10px;	
  }
  
  #appAttachment-input{
	  margin-top: 10px;
  }

  #content-textarea{
    border: none;
    outline: none;  /* focus 할때 border이 보이는효과를 없앰*/
    width: 99%;
    height: 99%;
    resize: none;
  }
  /* --------------------------------------- */

  
  .approve-section{  /* 결재선 양식 섹션 부분 */
	min-width: 1000px;
	min-height: 900px; 
	background-color: white;
	margin-left: 50px;
  }
  
  .approve-section1{ /* 결재선 신청 부분 */
	margin-left: 50px;
	min-width: 500px;
	min-height: 900px; 
  }
  
  #approve_name{ /* 결재서 이름 종류 나오는 부분 */
	  font-size: 25px;
	  margin-left: 20px;
	  margin-top: 20px;
	  margin-bottom: 25px;
  }
  
  #appForm{
	  display: flex;
  }
  
  
  input, select {
	width: 10rem;
	height: 20px;
	border-radius: 0.5rem;
	padding: var(--btn-padding);
	border: 1px solid #A3A3A3;
	font-size: var(--font-small);
  }
  
  #back{ /*돌아가기 버튼 */
	  background-color: #D9D9D9;	
	  margin-left: 350px;
  }
  
  #save{ /* 임시저장버튼 */
	  background-color: var(--main-color-dk);
	  color: white;	
	  margin-left: 30px;
  }
  
  #sign{ /* 결재등록 버튼 */
	background-color: var(--main-color-lt);
	margin-left: 30px;  
  }
  
  #regist-appline{  /**/
	  width: 450px;
	  height: 70px;
	  margin-left: 30px;
	  margin-top: 30px;
	  border-radius: 0px;
	  font-size: 40px;
  }
  
  #regist-app{  /* 결재선 추가 명단 나오는 div */
	  width: 450px;
	  height: 335px;
	  background-color: white;
	  margin-top: 30px;
	  margin-left: 30px;
	   border: 1px solid #D9D9D9;
  }
  
  #appline-name{ /* 결재선 이름 부분 */
	  font-size: 30px;
	  font-weight: bold;
	  margin-left: 5px;
  }
  
  #regist-reference{ /* 참조선 추가 명단 나오는 div */
	  width: 450px;
	  height: 335px;
	  margin-top: 30px;
	  margin-left: 30px;
	  background-color: white;
	  border: 1px solid #D9D9D9;
  }
  
    #reference-name{ /* 참조선 이름 부분 */
	  font-size: 30px;
	  font-weight: bold;
	  margin-left: 5px;
  }
  
  
 /* 연장근무신청서 css */
 #extendWork{  /* 근무일시 */
	height: 70px;
    width:  126px;
    line-height: 70px;
    text-align: center;
    border-top: none;
    border-right: none;
    border-bottom: none;
 }
 
 #extendWork-answer{  /* 근무일시 공간 */
	height: 70px;
    width:  634px;
    line-height: 70px;
    border-top: none;
	border-bottom: none;
 }
 
 #extendWorkDate-input{  
	 margin-left: 40px;
 }
 
 #extendWorkDate-input,#extendWorkTime1-input,#extendWorkTime2-input{
	 width: 130px;
 }
 
 #betweenTime{
	color: black;
	font-weight: bold;
 }
  
  
 #extendWorkWriteDate{  /* 작성일 */
	height: 50px;
    width:  126px;
    line-height: 50px;
    text-align: center;
    border-top: none;
    border-right: none;
 } 
 
 #extendWorkWriteDate-answer{  /* 작성일 입력창 */
	height: 50px;
    width:  634px;
    border-top: none;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
 }
 
 
 #extendTimeTitle{
	height: 70px;
    width:  126px;
    text-align: center;
    line-height: 70px;
    border-right: none;
 }
 
 #extendTimeTitle-answer{
	height: 70px;
    width:  634px;
    text-align: center;
    line-height: 70px;
 }
  /* ----------------- */
  
   /* 근태신청서 css */
   #attendance-kind{
	height: 50px;
    width:  126px;
    text-align: center;
    line-height: 50px;
    border-top: none;
    border-right: none;
   }
   
   #div-annual{ /* 연차 */
	   height: 50px; 
	   width: 105px;
	   text-align: center;
	   line-height: 50px;
	   border-top: none;
	   border-right: none;
   }
   
   #annual{
	   width: 40px;
	   vertical-align:sub;
   }
   
   #div-halfAnuual{ /* 반차 */
	   height: 50px;
	   width: 105px;
       line-height: 50px;
       text-align: center;
       border-top: none;
       border-right: none;
   }
   
   #halfAnuual{
	   width: 40px;
	   vertical-align:sub;
   }
   
   #div-health{  /* 보건 */
	   height: 50px;
	   width: 105px;
       line-height: 50px;
       text-align: center;
       border-top: none;
       border-right: none;
   }
   
   #health{
	   width: 40px;
	   vertical-align:sub;
   }
  
   #div-condolences{  /* 경조 */
	   height: 50px;
	   width: 105px;
       line-height: 50px;
       text-align: center;
       border-top: none;
       border-right: none;
   }
   
   #condolences{
	   width: 40px;
	   vertical-align:sub;
   }
   
   #div-training{  /* 훈련 */
	   height: 50px;
	   width: 105px;
       line-height: 50px;
       text-align: center;
       border-top: none;
       border-right: none;
   }
   
   #training{
	   width: 40px;
	   vertical-align:sub;
   }
   
   #div-outing{  /* 외출 */
	   height: 50px;
	   width: 104px;
       line-height: 50px;
       text-align: center;
       border-top: none;
   }
   
   #outing{
	   width: 40px;
	   vertical-align:sub;
   }
   
   #applicationDate{
	height: 50px;
    width:  126px;
    text-align: center;
    line-height: 50px;
    border-right: none;
    border-top: none;
    border-bottom: none;
   }
   
   #applicationDate-answer{
	height: 50px;
    width:  634px;
    text-align: center;
    line-height: 50px;
    border-top: none;
    border-bottom: none;
   }
   
   
   /* 지출결의서 css */
   #account{
	 height: 50px;
     width:  155px;
         text-align: center;
    line-height: 50px;
   }
   
   #use-history{
	 height: 50px;
     width:  447px;
         text-align: center;
    line-height: 50px;
   }
   
   #price{
	 height: 50px;
     width:  155px;
         text-align: center;
    line-height: 50px;
   }
   
   #account0,#account1,#account2,#account3,#account4,#account5,#price0,#price1,#price2,#price3,#price4,#price5{
	 border-radius: 0px;
	 height: 50px;
     width:  136px;
   }
   
   #use-history0,#use-history1,#use-history2,#use-history3,#use-history4,#use-history5{
	 border-radius: 0px;
	 height: 50px;
     width:  428px;
   }
   /* ------------------ 여기까지가 지출결의서 양식 ---------------*/
   
   
   /* 여기서부터 결재선 클릭후 나오는 UI */
   		#display-flex{
			   display: flex;
		   }
   
   
   		#department-box{
			height:430px;
			width:200px;
			border: 1px solid #D9D9D9;
			margin-right: 20px;
		}
		
		#people-box{
			height:430px;
			width:350px;
			border: 1px solid #D9D9D9;
		}
	
        .modal {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .modal .bg {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.6);
        }

        .modalBox {
          position: absolute;
          background-color: #fff;
          width: 1000px;
          height: 500px;
          padding: 15px;
        }

/*	        .modalBox button {
          display: block;
          width: 80px;
          margin: 0 auto;
        }
*/
        .hidden {
          display: none;
        }
        
        #first-arrow,#second-arrow,#three-arrow,#four-arrow{
			height: 10px;
			width: 10px;
			background-color: white;
			margin-right: 30px;
			margin-left: 10px;
		}
        
        #first-arrow{
			margin-top: 60px;
			margin-bottom: 30px;
		}
        
        #second-arrow{
			margin-bottom: 170px;
		}
		
		#three-arrow{
			margin-bottom: 30px;
		}
        
        #line-box{
			height:200px;
			width:350px;
			border: 1px solid #D9D9D9;
			margin-bottom: 30px;
		}
        
        #refer-box{
			height:200px;
			width:350px;
			border: 1px solid #D9D9D9;
		}
		
		#add-remove{
			display: flex;
			flex-direction: column;
		}
		
		#add-remove button{
			padding: 0px;
		}
		
		
		#line-box-text{ /* 결재선 글씨 */
			margin:10px;
			font-weight: bold;
			font-size: 20px;
		}
		
		#refer-box-text{ /* 참조선 글씨 */
			margin:10px;
			font-weight: bold;
			font-size: 20px;
		}

		#close-button{
			margin-top: 20px;
			margin-left:750px;
			width: 100px;
			height: 40px;
			background-color: #D9D9D9;
		}
		
		#regist-button{
			margin-top: 20px;
			margin-left:10px;
			width: 100px;
			height: 40px;
	
		}
		
		
		#people-box {
			font-size: 15px;
		}
