@charset "UTF-8";

* {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.login-container {
	width: 100%;
	height: 100%;
	background-image: url("../../images/common/loginbg.svg");
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.login-div {
	width: 480px;
	height: 650px;
	/* border: 1px solid red; */
	border-radius: 10px;
	background-color: white;
	position: relative;
}

.logo-container{
	width: 450px;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-title {
	margin: 20px 0px 30px 20px;
}

.login-div div {
	margin: 0px 0px 10px 30px;
}

.input-container>* {
	margin: 5px 10px;
}

.login-div h4,a,.page-title {
	display: flex;
	justify-content: center;
	margin: 30px 0px;
}

.info-msg {
	margin-left: 20px;
}

form>span {
	margin-left: 50px;
}

.success-btn {
	width: 440px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-container {
	padding-right: 50px;
	display: flex;
	justify-content: space-between;
}
.btn-container>div{
	margin: 10px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
input[type="checkbox"]{
	height: 20px;
	width: 20px;
	margin-right: 10px;
}
.login-input {
	width: 350px;
}
.first-input{
	width: 250px;
	height: 25px;
	margin: 0px 10px;
	padding-right: 0px 3px;
}
button{
	height: 35px;
}
input{
	height: 35px;
	width: 70px;
}
input[type=button]{
	background-color: var(--main-color-bl);
	border-radius: var(--btn-radius);
	font-weight: 700;
	border: none;
}
input[type=button]:hover{
	background-color: var(--main-color-dk);
	color: #FFFFFF;
}
.page-title{
	margin-top:0px;
}
.info-msg{
	font-size: 14px;
}